.logo {
  display: flex;
  align-content: center;
  align-items: center;
  color: #ffffff;
}

.logo svg {
  width: 10%;
  height: 100%;
  fill: #ffffff;
}

.navigationContainer {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  padding: 1rem;
}

.fadedBackground {
  background-color: transparent;
  animation: fadeOut .3s ease-in;
}

.darkBackground {
  background-color: #145069;
  animation: fadeIn .3s ease-in;
}

.navigationContainer .activeLink:after {
  content: '';
  display: block;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
  width: 7px;
  height: 7px;
  background-color: #51C6E9;
  border-radius: 50%;
  font-weight: 500;
}

.navigationLinks {
  color: #e0f2fd !important;
  padding: 6px;
}

.navigationLinks:hover {
  text-decoration: none;
  color: #ffffff !important;
}

.activeLink {
  position: relative;
  font-weight: 400;
  color: #ffffff !important;
}

/* Animations */
@keyframes fadeIn {
  0%   { background-color: transparent; }
  100%  { background-color: #145069; }
}

@keyframes fadeOut {
  0%   { background-color: #145069; }
  100% { background-color: transparent; }
}
